body {
overflow-x: hidden;
}
.travel {
display: flex;
justify-content: space-between;
height: 1px;
font-family: "Gilda Display";
font-size: 16px;
font-weight: 400;
line-height: 18.83px;
letter-spacing: 0.1em;
text-align: left;
margin-left: 30px;
}
.harmburger-menu {
display: flex;
margin-right: 15px;
margin-top: 1px;
width: 24px;
height: 24px;
}
.journey {
margin-left:20px;
margin-top: -100px;
font-family: "Gilda Display";
font-size: 20px;
font-weight: 400;
line-height: 65px;
text-align: center;
transform: translateY(100%);
color: #262626;
}
.span {
color: #25A59E;
}
.image-container {
position: absolute;
margin-left: -317px;
margin-top: -150px;
}
.blurry {
width: 400px;
height: 400px;
color: #44D5CD;
margin-left: 400px;
}
.ellipse {
width: 333px;
height: 211px;
color: #EE8F39;
margin-left: 400px;
margin-top: -100px;
transform: translateY(-25%);
}
.image-A {
width: 432px;
transform: translateY(-128%);
margin-left: 350px;
height: 200px;
}
.destination {
transform: translateY(250%);
margin-left: 82px;
}
.destination p {
width: 335px;
font-family: "Gilda display";
font-weight: 400;
font-size: 40px;
height: 104px;
}
.destination h1 {
font-family: "urbanist";
font-weight: 500;
font-size: 16px;
line-height: 24px;
width: 335px;
height:4px;
margin-top: -20px;
}
.container {
display: flex;
flex-wrap: wrap;
flex-direction: column;
margin-left: 68px;
transform: translateY(17%);
}
.name {
font-family: "urbanist";
font-weight: 700;
font-size: 20px;
line-height: 28px;
margin-top: 10px;
}
.country {
font-family: "urbanist";
font-weight: 600;
font-size: 16px;
line-height: 59px;
}
.rotate {
transform: rotate(-180deg);
}
.lake {
width: 350px;
border: 2px solid #F2F2F2;
font-family: "Urbanist";
font-weight: 700;
font-size: 24px;
line-height: 30px;
padding: 10px;
}
.location h3 {
margin-top: -35px;
padding-left: 35px;
font-family: "urbanist";
font-weight: 600;
font-size: 18px;
line-height: 25px;
}
.location {
margin-top: -10px;
}
.choose {
margin-top: 450px;
margin-left: 450px;
}
.choose p {
font-family: "Gilda display";
font-weight: 400;
font-size: 40px;
line-height: 52px;
text-align: center;
margin-left: -450px;
margin-top: -30px;
color: #262626;
}
.choose h1 {
font-family: "urbanist";
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #595959;
margin-left: -500px;
margin-top: -30px;
}
.listcard {
margin-left: 52px;
width: 335px;
height: 257px;
}
.card {
border: solid #fdfafa;
background-color: #FFFFFF;
margin-top: 10px;
padding-left: 5px;
}
.listtop {
width: 335px;
height: 4px;
background-color: #25A59E;
margin-left: -5px;
}
.title {
font-family: "Gilda display";
font-weight: 400;
font-size: 28px;
line-height: 50px;
width: 295px;
color: #262626;
}
.description {
width: 295px;
font-family: "urbanist";
font-weight: 400;
font-size: 15px;
line-height: 23px;;
}
.text {
font-family: "Gilda display";
font-weight: 400;
font-size: 15px;
line-height: 23px;
width: 84px;
color: #25A59E;
margin-left: 170px;
}
.forward {
margin-left: 270px;
transform: translateY(-20px);
width: 16px;
height: 16px;
}
.card-1 {
background-color: #25A59E;
margin-top: 15px;
padding-left: 5px;
}
.title-1 {
font-family: "Gilda display";
font-weight: 400;
font-size: 28px;
line-height: 40px;
color: #FFFFFF;
}
.description-1 {
font-family: "Urbanist";
font-weight: 400;
font-size: 16px;
line-height: 24px;
width: 295px;
color: #FFFFFF;
}
.text-1 {
font-family: "Gilda display";
font-weight: 400;
font-size: 15px;
line-height: 17.66px;
margin-left: 150px;
color: #FFFFFF;
}
.memory {
margin-top: 500px;
margin-left: 58px;
}
.make {
font-family: "gilda display";
font-weight: 400;
font-size: 40px;
line-height:  52px;
}
.thousands {
font-family: "urbanist";
font-weight: 500;
font-size: 16px;
line-height: 24px;
margin-top: -10px;
}
.arrow {
width: 335px; 
height: 350px;
color: #25A59E;
}
.travellers {
width: 335px;
margin-left: -350px;
transform: translateY(-100px);
}
.trip {
margin-left: 50px;
font-family: "Gilda display";
font-weight: 400;
font-size: 29px;
line-height: 50px;
margin-top: -90px;
color: #262626;
width: 335px;
align-items: center;
}
.center {
margin-left: 135px;
}
.movie {
width: 375px;
margin-left: 50px;
}
.header-container {
margin-left: 57px;
margin-top: -20px;
}
.offer {
font-family: "Gilda display";
font-weight: 400;
font-size: 40px;
line-height: 52px;
width: 335px;
}
.click {
width: 130px;
font-family: "urbanist";
font-weight: 600;
font-size: 18px;
line-height: 50px;
color: #FFFFFF;
background-color:  #25A59E;
margin-top: -450px;
top: 0;
left: 0;
border: 0px;
}
.notification {
margin-left: 58px;
width: 375px;
margin-top: 80px;
}
.movement {
font-family: "Gilda display";
font-weight: 400;
font-size: 16px;
line-height: 18.83px;
}
.agent {
font-family: "urbanist";
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #595959;
}
.social-link {
margin-left: 170px;
}
.bird {
margin-top: -44px;
margin-left: 50px;
}
.youtube {
margin-top: -44px;
margin-left: 115px;
}
.header-links {
margin-left: 55px;
font-family: "urbanist";
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #595959;
padding-top: 30px;
}
ul {
list-style: none;
display: flex;
gap: 30px;
margin-left: -30px;
}
@media only screen and (min-width: 800px) {
.image-container {
transform: translateX(13%);
}
.destination {
margin-left: 225px;
}
.container {
display: flex;
flex-direction: column;
flex-wrap: wrap;
margin-top: 30px;
margin-left: 220px;
}
.choose {
transform: translateX(7%);
}
.listcard {
margin-left: 205px;
}
.memory {
margin-left: 205px;
}
.trip {
margin-left: 205px;
font-size: 30px;
}
.video {
margin-left: 160px;
}
.header-container {
margin-left: 203px;
}
.notification {
margin-left: 205px;
}
.social-link {
transform: translateX(27%);
}
.header-links {
margin-left: 200px;
}
body {
overflow-x: hidden;
}
} 
@media only screen and (min-width: 1244px) {
body {
overflow-x: hidden;
}
.travel {
margin-left: 110px;
margin-top: 30px;
}
.navigation {
width: 30px;
height: 16px; 
color: #262626;
transform: translateX(-100%);
margin-left: -50px;
}
.journey {
font-size: 75px;
line-height: 130px;
transform: translateY(-20%);
margin-left: -150px;
margin: auto;
color: #262626;;
}
.blurry {
width: 500px;
margin-top: -50px;
margin-left: 450px;
}
.ellipse {
width: 500px;
margin-top: -150px;
}
.image-A {
margin-top: -1000px;
margin-left: 450px;
transform: translateY(-35%);
}
.image-container {
margin: auto;
margin-left: -2px;
transform: translateX(-3%);
margin-top: -250px;
}
.destination {
margin-left: 400px;
margin-top: 150px;
}
.destination p {
font-size: 37px;
line-height: 82px;
width: 1162px;
margin-top: -120px;
}
.destination h1 {
width: 599px;
margin-left: 50px;
margin-top: -50px;
font-size: 12px;
}
.container {
flex-direction: row;
margin-top: 160px;
width:1200px;
margin-left: 50px;
gap: 30px;
}
.choose {
transform: translateY(-90%);
text-align: center;
}
.choose h1 {
font-size: 18px;
line-height: 32px;
width: 879px;
transform: translateX(30%);
}
.listcard {
display: flex;
gap:20px;
width: 1200px;
margin-top: -130px;
margin-left: 50px;
}
.card {
margin-top: 16px;
padding-left: 20px;
}
.card-1 {
padding-left: 20px;
}
.memory {
margin-top: 100px;
margin-left: 50px;
}
.thousands {
width: 534px;
}
.img-group {
margin-top: -250px;
transform: translateX(60%);
}
.trip {
width: 680px;
text-align: center;
line-height: 70px;
font-size:30px;
transform: translateX(20%);
height: 168px;
margin-top: 50px;
}
.video-background {
width: 1440px;
margin-left: 150px;
}
.header-container {
display: flex;
}
.offer { 
width: 743px;
font-size: 59px;
}
.click {
margin-top: 130px;
transform: translateY(-50%);
margin-left: 140px;
width: 140px;
height: 50px;  
}
.agent {
width: 313px;
}
.notification {
margin-top: -50px;
}
.social-link {
width: 40px;
height: 40px;
margin-top: 30px;
transform: translate(90%);
}
.header-links {
width: 463px;
transform: translateX(150%);
margin-top: -70px;
}
}







  

