body {
  overflow-x: hidden;
}
.travel {
display: flex;
justify-content: space-between;
margin: auto;
height: 1px;
font-family: Gilda Display;
font-size: 16px;
font-weight: 400;
line-height: 18.83px;
letter-spacing: 0.1em;
text-align: left;
}
.nav {
width: 375px;
margin: auto;
}
.harmburger-menu {
display: flex;
margin-right: 100px;
margin-top: 1px;
width: 24px;
height: 24px;
}
.journey {
margin: auto;
margin-left: 400px;
margin-top: 100px;
font-family: Gilda Display;
font-size: 20px;
font-weight: 400;
line-height: 65px;
text-align: center;
width: 375px;
transform: translateY(100%);
}
.span {
color: #25A59E;
}
.image-container {
position: absolute;
max-width: 432px;
margin:auto;
margin-top: -150px;
}
.blurry {
width: 400px;
height: 400px;
color: #44D5CD;
margin: auto;
margin-left: 400px;
}
.ellipse {
width: 333px;
height: 211px;
color: #EE8F39;
margin-left: 400px;
margin-top: -100px;
transform: translateY(-25%);
}
.image-A {
margin: auto;
width: 432px;
transform: translateY(-128%);
margin-left: 350px;
height: 200px;
}
.destination {
transform: translateY(220%);
margin-left: 380px;
}
.destination p {
width: 335px;
font-family: "Gilda display";
font-weight: 400;
font-size: 40px;
height: 104px;
}
.destination h1 {
font-family: "urbanist";
font-weight: 500;
font-size: 16px;
line height: 24px;
width: 335px;
height:4px;
}
.container {
margin: auto;
margin-left: 350px;
transform: translateY(15%);
}
.name {
font-family: "urbanist";
font-weight: 700;
font-size: 20px;
line-height: 28px;
}
.country {
font-family: "urbanist";
font-weight: 600;
font-size: 16px;
line-height: 24px;
}
.rotate {
transform: rotate(-180deg);
}
.lake {
width: 350px;
border: #F2F2F2;
font-family: "Urbanist";
font-weight: 700;
font-size: 24px;
line-height: 36px;
padding: 10px;
}
.location {
margin: auto;
margin-top: -5px;
}
.location h3 {
margin-top: -35px;
padding-left: 35px;
font-family: "urbanist";
font-weight: 600;
font-size: 18px;
line height: 32px;
}
.choose {
margin-top: 400px;
margin-left: 400px;
}
.choose p {
font-family: "Gilda display";
font-weight: 400;
font-size: 40px;
line-height: 52px;
text-align: center;
margin-left: -500px;
margin-top: -30px;
color: #262626;
}
.choose h1 {
font-family: "urbanist";
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #595959;
margin-left: -500px;
}
.listcard {
margin-left: 430px;
width: 335px;
height: 257px;
}
.card {
border: solid #fdfafa;
background-color: #FFFFFF;
margin-top: 10px;
}
.listtop {
width: 335px;
height: 4px;
background-color: #25A59E;
}
.title {
font-family: "Gilda display";
font-weight: 400;
font-size: 28px;
line-height: 50px;
width: 295px;
color: #262626;
}
.description {
width: 295px;
font-family: "urbanist";
font-weight: 400;
font-size: 15px;
line-height: 23px;;
}
.text {
font-family: "Gilda display";
font-weight: 400;
font-size: 15px;
line-height: 23px;
width: 84px;
color: #25A59E;
margin-left: 170px;
}
.forward {
margin-left: 270px;
transform: translateY(-20px);
width: 16px;
height: 16px;
}
.card-1 {
  background-color: #25A59E;
}
.title-1 {
font-family: "Gilda display";
font-weight: 400;
font-size: 28px;
line-height: 40px;
color: #FFFFFF;
}
.description-1 {
font-family: "Urbanist";
font-weight: 400;
font-size: 16px;
line-height: 24px;
width: 295px;
color: #FFFFFF;
}
.text-1 {
  font-family: "Gilda display";
  font-weight: 400;
  font-size: 15px;
  line-height: 17.66px;
  margin-left: 150px;
  color: #FFFFFF;
}
.memory {
  margin-top: 500px;;
  margin-left: 400px;
  }
  .make {
    font-family: "gilda display";
    font-weight: 400;
    font-size: 40px;
    line-height:  52px;
  }
  .thousands {
    font-family: "urbanist";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: -10px;
  }
  .arrow {
    width: 335px; 
    height: 350px;
    color: #25A59E;

  }
.travellers {
  width: 335px;
  margin-left: -350px;
  transform: translateY(-100px);
  }
  .trip {
    margin-left: 450px;
    font-family: "gilda display";
    font-weight: 400;
    font-size: 28px;
    line-height: 80px;
    margin-top: -80px;
    color: #262626;
    width: 335px;

  }
  .center {
  margin-left: 140px;
  }
  .movie {
    width: 375px;
    margin-left: 400px;
}
.header-container {
    margin-left: 400px;
}
.offer {
    font-family: "Gilda display";
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    width: 335px;
}
.click {
    width: 147px;
    font-family: "urbanist";
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
    color: #FFFFFF;
    background-color:  #25A59E;
    margin-top: -450px;
    top: 0;
    left: 0;
    border: 0px;
  }
  .notification {
    margin-left: 400px;
    width: 375px;
    margin-top: 80px;
  }
  .movement {
    font-family: "Gilda display";
    font-weight: 400;
    font-size: 16px;
    line-height: 18.83px;
  }
  .agent {
    font-family: "urbanist";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
  }
  .social-link {
    margin-left: 550px;
  }
  .bird {
    margin-top: -40px;
    margin-left: 50px;
  }
  .youtube {
    margin-top: -40px;
    margin-left: 70px;
}
.header-links {
  margin-left: 400px;
  display: inline-flex;
  gap: 30px;
  font-family: "urbanist";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
  padding-top: 30px;
}